@import "tailwindcss";
@import "tailwindcss-animated";

* {
  font-family: 'Superior';
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* TYPO */

@font-face {
  font-family: 'Superior';
  src: url('../fonts/LTSuperior-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Superior Bold';
  src: url('../fonts/LTSuperior-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Superior Light';
  src: url('../fonts/LTSuperior-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Superior Semibold';
  src: url('../fonts/LTSuperior-SemiBold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}



/* https://www.youtube.com/watch?v=dAIVbLrAb_U */


:root {
  --bar-width: 50px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --foreground: #fff9f5;
  --hamburger-margin: 2rem;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: calc(var(--hamburger-margin) + 0.6rem);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}


.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* 
.logo {
  /* top: var(--hamburger-margin);
  left: var(--hamburger-margin);
} */


/* INTERFACE MENU */


/* #menuInterface.disactive {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  display: hidden;
  z-index: -5;
}

#menuInterface.active {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  display: flex;
} */

.op0 {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.op1 {
  transition-property: opacity;
  transition-duration: 1s;
}

.b0 {
  block-size: 0rem;
  padding-block: 0;
  transition: all 2s ease-in-out;
  display: hidden;
  transition-behavior: allow-discrete;
}

.b1 {
  display: flex;
  block-size: auto;
  block-size: calc-size(auto);
  padding-block: 0;
  transition: all 2s ease-in-out;
  display: flex;
}


.bckground {
  background-image: url('../img/modern.webp');
}