RewriteEngine On

RewriteRule ^home$ src/Controller/controller-home.php [L,QSA]
RewriteRule ^services$ src/Controller/controller-services.php [L,QSA]
RewriteRule ^portfolio$ src/Controller/controller-gallery.php [L,QSA]
RewriteRule ^about$ src/Controller/controller-about.php [L,QSA]
RewriteRule ^contact$ src/Controller/controller-contact.php [L,QSA]

RewriteRule ^admin$ src/Controller/controller-dashboard.php [L,QSA]
RewriteRule ^login$ src/Controller/controller-login.php [L,QSA]

RewriteRule ^admin/contact$ src/Controller/controller-dashboard-contact.php [L,QSA]

RewriteRule ^admin/faq$ src/Controller/controller-dashboard-faq.php [L,QSA]
RewriteRule ^admin/faq/add$ src/Controller/controller-dashboard-faq-add.php [L,QSA]
RewriteRule ^admin/faq/modify$ src/Controller/controller-dashboard-faq-modify.php [L,QSA]

RewriteRule ^admin/portfolio$ src/Controller/controller-dashboard-portfolio.php [L,QSA]
RewriteRule ^admin/portfolio/add$ src/Controller/controller-dashboard-portfolio-add.php [L,QSA]
RewriteRule ^admin/portfolio/modify$ src/Controller/controller-dashboard-portfolio-modify.php [L,QSA]
